<div class="container">
    <div id="row-2" class="row" style="background-color:white">
      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
        <button type="button" class="btn btn-light" id="back_button" [routerLink]="['/login/dashboard']"><b><i class="fa fa-angle-left" id="back_button_logo" style="font-size:24px"></i></b> </button>
      </div>
      <div class="col-xl-7 col-lg-7 col-md-7 col-sm-5 col-7">
        <span id="src" style="color: #000;">{{source}}</span><i class="fa fa-arrow-right" id="arrow"></i><span id="dst" style="color: #000;">{{destination}}</span>
      </div> 
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
        <span id="choosen_date" style="color: #000">{{date}}</span>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="container">
      <div class="row">
        a
      </div>
      <hr>
      <div class="row">
        a
      </div>
      <hr>
      <div class="row">
        a
      </div>
      <hr>
      <div class="row">
        a
      </div>
      <hr>
      <div class="row">
        a
      </div>
      <hr>
    </div>