#src{
    position: relative;
    font: 1em sans-serif;
    font-size: medium;
    top: 20px;
    left: 1%;
    font-weight: 600;
}

#dst{   
    position: relative;
    font: 1em sans-serif;
    font-size: medium;
    top: 20px;
    left: 6%;
    font-weight: 600;
}

#arrow{
    position: relative;
    top: 20px;
    left: 4%;
    font-weight: 100;
}

#choosen_date{
    position: relative;
    font: 1em sans-serif;
    font-size: medium;
    top: 20px;
    left: 10%;
    font-weight: 600;
}

#modify_button{
    position: relative;
    left: 2%;
    top: 30px;
    background-color: rgb(253, 152, 0);
    border-color:  rgb(253, 152, 0);
    color: #000;

}

#sort_icon{
    position: relative;
    top: 30px;
    color: #000;
}

#filter_icon{
    position: relative;
    top: 30px;
    color: #000;
}

.icons{
    position: relative;
    left: 10%;
}

#back_button{
    position: relative;
    padding-left: 10%;
    top: 25%;
}

#back_button_logo{
    position: relative;    
}
.content{
    color: black;
    margin-bottom: 9px;
    background-color:rgb(232, 234, 234);
    width: 93%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;

}
.content_column{
    position: relative;
    left: 10px;
}
.seats_available{
    position: relative;
    left: 10%;  

}
.price_column{
    position: relative;
    left: 10%;
}

